<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://i.ytimg.com/vi/Cm2orPkQI0w/maxresdefault.jpg" class="img-fluid" alt="">
      </div>
      <div class="contain col-md-8 col-lg-6 col-xl-6 offset-xl-1">
        <h1 class="col-xl-10" style="color: white;">Welcome to Our Site</h1><br>
        &nbsp;<a class="btn-primary" routerLink="/loginform">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn-primary" routerLink="/reg-form">Register</a>
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
    <!-- <button type="reset" class="btn-primary" routerLink="/forgot-pass">Forgot Password</button>
    <button type="reset" class="btn-primary" routerLink="/change-pass">Change Password</button> -->
  </div>
</section>